#h1-header{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

#table table{
    margin-top: 36px;
    margin-left: 38vh;
    border-collapse: collapse;
}

#table table #table-headers{
    color: black;
    font-weight: bolder;
    background-color: aquamarine;
}

#table table .data-user{
    color: black;
    background-color: rgba(127, 255, 212, 0.321);
}

